* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}



.hero{
    height: 500px;
    background-color: #1F2937;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 30px 0px;
    margin: 0 auto;
    width: 65vw;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main{
    height: 35vh;
    width: 65vw;
    padding: 5px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-main .left{
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
    width: 35vw;
}

.hero-main .left button{
    padding: 8px 24px 8px 24px;
    border-radius: 12px;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
}

.hero-main .right img{
    height: 300px;
    width: 600px;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.two{
    height: 500px;
    background-color: #FFFF;
    width: 100vw;
}

.two-container{
    height: 500px;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
}

.title{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 32px 32px 0px 32px;
    margin: 0;
}

.picture-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.info .text{
    text-align: center;
}

.three{
    height: 500px;
    background-color: #E5E7EB;
    width: 100vw;
}

.quote-container{
    height: 500px;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    font-weight: 300;
}

.author{
    font-size: 24px;
    text-align: right;
    font-weight: 600;
}

.four{
    height: 300px;
    background-color: #FFFFFF;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container{
    height: 15vh;
    width: 55vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: #3882F6;
    border-radius: 12px;
}

.signup-container .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.signup-container .left .action{
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 600;
}

.signup-container .left .message{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
}

.signup-container .right button{
    padding: 6px 36px 6px 36px;
    border-radius: 12px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid white;
    font-size: 18px;
    font-weight: 600;
}

.footer{
    height: 100px;
    background-color: #1F2937;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
}
